<!DOCTYPE html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/public/styles/main.css">

        <title>NBA Tracker</title>
    </head>

    <body>

        <header>
            <h1>NBA Tracker</h1>
            <img id = "NBA Logo" src = "/public/images/NBA-Logo.png" style="width:256px;height:128px;">
        </header>

        <nav id = "nav-bar">
            <a href = "/"> Home </a>
            &nbsp;
            <a href = "/"> About </a>
        </nav>

        <div class = "content">

        <h2 id = "question"> You're a <%= teamn %> fan! </h2>

        <table id = "scoreboard">
            <tr>
                <th>
                    Home Team
                </th>
                <th>
                    Score
                </th>
                <th>
                    Away Team
                </th>
                <th>
                    Score
                </th>
                
            </tr>
            <% Object.keys(games).forEach(function(key) { %>
            <tr>
                <td> <%= games[key].home_team.name %> </td>
                <td> <%= games[key].home_team_score %> </td>
                <td> <%= games[key].visitor_team.name %> </td>
                <td> <%= games[key].visitor_team_score %> </td>
            </tr>
            <% }); %>
        </table>

        </div>
        
        <footer class = "footer"> Created by Diego Sanchez </footer>

    </body>
</html>